.wb-view-content {
	padding: 0 !important;
	overflow: hidden !important;
}

.wb-frame {
	width: 100%;
	height: 100%;
	border: none;
	background-color: white;
	background-clip: content-box;
}

.wb-header-bar::after {
	background: transparent !important;
}

.wb-search-bar {
	width: 100%;
}

.wb-search-box {
	display: flex;
	flex-direction: row;
	position: absolute;
	z-index: 20;
	top: 35px;
	right: 200px;
	width: 200px;
	height: 44px;
	background-color: var(--color-base-20);
	padding: 7px;
	border: var(--input-border-width) solid var(--background-modifier-border);
}

.wb-search-input {
	width: 60%;
	height: 100%;
}

.wb-search-button-group {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.wb-search-button {
	display: flex;
	align-items: center;

	width: 100%;
	height: var(--input-height);
	border: var(--input-border-width) solid var(--background-modifier-border);
	background-color: var(--background-modifier-form-field);
	margin-left: 4px;
}

.wb-page-search-bar-input {
	width: 500px;
	min-width: 20px;
	height: 44px !important;
	border-radius: 15px !important;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.wb-page-search-bar {
	flex-direction: column-reverse;
}

.wb-page-search-bar-text {
	text-align: center;
	margin-bottom: 20px;
	font-size: 72px;
	font-weight: bolder;
	color: var(--color-purple);
}

.wb-btn-tip {
	color: var(--color-base-60);
}

.wb-btn:hover {
	background: var(--color-purple) !important;

}

.wb-btn {
	filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.theme-dark .wb-btn a {
	color: var(--color-base-80) !important;
}

.setting-item.search-engine-setting {
	flex-wrap: wrap;
}

.search-engine-setting .setting-item-control {
	flex: 1 1 auto;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--size-4-2);
}

.search-engine-setting .search-engine-main-settings {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top: solid 1px var(--background-modifier-border);
	margin-top: 10px;
}

.search-engine-main-settings-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

.search-engine-main-settings-url {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}

.search-engine-setting .setting-item-name::before {
	content: "";
	display: inline-block;
	height: 20px;
	width: 1px;
	border-left: 3px solid var(--text-accent);
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 0;
}

.wb-setting-title {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.wb-setting-tab-group {
	display: flex;
	justify-content: flex-start;
}

.wb-setting-searching {
	opacity: 0.4;
}

.wb-navigation-item {
	display: flex;
	align-items: flex-start;
	gap: 3px;
	margin-right: 10px;
	margin-bottom: 2px;
	padding: 6px 5px 4px;
	border-radius: 5px;
}

.wb-navigation-item-selected {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}

.wb-setting-header {
	border-bottom: var(--color-base-40) 0px solid;
}

.wb-tab-settings {
	margin-bottom: 20px;
}

.wb-setting-heading {
	color: var(--color-purple);
}

.wb-about-icon {
	height: 72px;
	text-align: center;
}

.wb-about-icon .surfing {
	height: 72px !important;
	width: 72px !important;
}

.wb-about-text {
	font-size: 16px;
	color: var(--color-purple);
}

.wb-about-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
}

.wb-about-version {
	font-size: 14px;
	text-decoration: unset !important;
	opacity: 0.8;
	color: var(--link-color);
}

