.root {
	align-items: center;
	display: grid;
	grid-template-columns: auto auto 1fr auto;
	height: 32px;
	padding-inline-end: 8px;
	border-bottom: solid 1px #eee;
	border-radius: var(--size-2-2);
}

.root:hover {
	background: var(--color-base-30);
}

.root.isSelected {
	background: var(--color-base-40);
	border-radius: var(--size-2-2);
}

.expandIconWrapper {
	align-items: center;
	font-size: 0;
	cursor: pointer;
	display: flex;
	height: 24px;
	justify-content: center;
	width: 24px;
	transition: transform linear 0.1s;
	transform: rotate(0deg);
}

.expandIconWrapper.isOpen {
	transform: rotate(90deg);
}

.labelGridItem {
	padding-inline-start: 8px;
	width: 100%;
	overflow: hidden;
}

.pipeY {
	position: absolute;
	border-left: 2px solid #e7e7e7;
	left: -7px;
	top: -7px;
}

.pipeX {
	position: absolute;
	left: -7px;
	top: 15px;
	height: 2px;
	background-color: #e7e7e7;
	z-index: -1;
}
