.app {
	height: 100%;
	margin: var(--size-4-2);
	border-radius: var(--size-2-2);
}

.container {
	height: 100%;
}

.treeRoot {
	height: 100%;
}

.draggingSource {
	opacity: 0.3;
}

.placeholderContainer {
	position: relative;
}

.dropTarget {
	background-color: var(--color-accent);
}
