.app {
	height: 100%;
	margin: var(--size-4-2);
	border-radius: var(--size-2-2);
}

.treeRoot {
	height: 100%;
}

.draggingSource {
	opacity: 0.3;
}

.placeholderContainer {
	position: relative;
}

.dropTarget {
	background-color: var(--color-accent);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
